---
import Chad from "../../public/TheoAndChad.jpg"
---

<div class="text-xl pt-6 pr-6">
    <p>Aside from writing code for work, I've also been writing an RPG game in Godot, am an avid practitioner of Tai Chi, and spend entirely too much time with my cats.
    </p>
</div>


<div class="relative text-center pl-6 pr-12 pt-6 xl:pt-6">
    <img src={Chad.src} class="rounded-2xl" alt="My cats Theodore and Chad" />
    <span class="text-sm">Theodore (back) and Chad (front)</span>
</div>

<div class="my-12 mx-12 h-1 w-full-24 bg-orange-300 rounded-full"/>
