---
import MainLayout from "../layouts/main.astro"
import ExperienceComponent from "../components/Experience.tsx"
---

<MainLayout>
    <div id="about" class="drawable relative px-12 flex flex-col items-center justify-center xl:flex-row xl:justify-start xl:pl-0">
        <div class="xl:ml-24 opacity-90 z-10 text-white bg-slate-950">
            <div class="">
                <h1 class="text-5xl xl:text-7xl text-orange-400">Work Experience</h1>
                <div class="relative py-6">
                <ExperienceComponent /> 
                </div>
            </div>
        </div>

    </div>
</MainLayout>
